[Unit]
Description=BlueOcean APU Exporter
After=network-online.target

[Service]
Type=simple

User=boss_apu_exporter
Group=boss_apu_exporter

ExecStart=/usr/bin/boss_apu_exporter

SyslogIdentifier=boss_apu_exporter

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
